@charset "UTF-8";
* {
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

table {
  //border-collapse: collapse;
  //border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}


$calendar-width:900;
//日历
.calendar{

  width: $calendar-width * 1px;
  margin: 30px auto;
  overflow:hidden;

  //日历头
  .header{
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;

    li{
      float: left;
      width: 14.2%;
    }

  }

  //日历主体
  table.main{
    width: 100%;
    //border-collapse: collapse;

    td{
      border: 1px solid #c7c7c7;
      padding: 20px 10px;
      position: relative;
      width: $calendar-width/7 * 1px;
      box-shadow: 0 0 4px rgba(6, 6, 6, 0.25);
      border-radius: 5px;
      overflow: hidden;

      //普通日期
      &.day{
        .date{
          font-size: 12px;
          text-decoration: underline;
        }
      }

      //周末
      &.week{
        background: #59d059;
        label{
          color: red;
        }
      }

      &.holiday{
        label{
          color: red;
        }
      }

      //非当前月份日期
      &.disabled{
        color: #c7c7c7;
        opacity: 0.3;
        filter: alpha(opacity=80);
        //background: #fff;
      }

      &.active{
        background: red;
      }

      //任务列表
      .task{
        li{
          margin: 10px 5px;
          font-size: 12px;
          position: relative;
          background: #ffc0cb;

          //编辑框
          input{
            //display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      //tag
      label{
        font-size: 12px;
        position: absolute;
        padding: 3px;
        border: 1px solid #c7c7c7;
        border-right: none;
        color: #615d5d;

        &.right-top{
          right: 0;
          top: 0;
          border-top: none;
          border-bottom-left-radius: 3px;
          background: #87d068;

          &.ill{
            background: orange;
          }
        }

        &.right-bottom{
          right: 0;
          bottom: 0;
          border-bottom: none;
          border-top-left-radius: 3px;
        }
      }
    }
  }



  $margin-val:10px;

  //年份选择
  .selectArea{
    overflow: hidden;

    select.year-list{
      float: left;
      margin: $margin-val;
      margin-left: 0;

    }

    ul.month-list{
      overflow: hidden;
      display: inline-block;
      margin: $margin-val;

      li{
        float: left;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #c7c7c7;
        border-left: none;
        text-align: center;
        cursor: pointer;
        font-size: 12px;

        &:first-child{
          border-left: 1px solid #c7c7c7;
        }

        &.active{
          background: #ff7672;
        }
      }
    }
  }
}

